POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=microshop
POSTGRES_USER=microshop
POSTGRES_PASSWORD=microshop
REDIS_URL=redis://redis:6379/0
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
JWT_SECRET=supersecret
FRONTEND_API_BASE_URL=http://localhost
